<div class="side-bar-header">
  <div class="header-name">
    <a href="#">SEIKO</a>
  </div>
  <div class="creat-room">
    <a herf="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">Seiko</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Moana</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Nalu</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Aruma</a>
    </div>
  </div>
</div>